<h1>Listing semester_schedules</h1>

<table>
  <tr>
    <th>Userid</th>
    <th>Semesterclassid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @semester_schedules.each do |semester_schedule| %>
  <tr>
    <td><%= semester_schedule.UserId %></td>
    <td><%= semester_schedule.SemesterClassId %></td>
    <td><%= link_to 'Show', semester_schedule %></td>
    <td><%= link_to 'Edit', edit_semester_schedule_path(semester_schedule) %></td>
    <td><%= link_to 'Destroy', semester_schedule, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Semester schedule', new_semester_schedule_path %>
