<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @time_slot.Name %>
</p>

<p>
  <b>Description:</b>
  <%= @time_slot.Description %>
</p>


<%= link_to 'Edit', edit_time_slot_path(@time_slot) %> |
<%= link_to 'Back', time_slots_path %>
