<h1>Listing semester_classes</h1>

<table>
  <tr>
    <th>Semester</th>
    <th>Timeslotid</th>
	<th>SchoolClassid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @semester_classes.each do |semester_class| %>
  <tr>
    <td><%= semester_class.Semester.Name %></td>
    <td><%= semester_class.TimeSlot.Name %></td>
	<td><%= semester_class.SchoolClass.Name %></td>
    <td><%= link_to 'Show', semester_class %></td>
    <td><%= link_to 'Edit', edit_semester_class_path(semester_class) %></td>
    <td><%= link_to 'Destroy', semester_class, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Semester class', new_semester_class_path %>
